.formulario{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 10px;
}

.listagemInclusao{
    margin-top: 10px;
    margin-left: 20px;
}

.confirmarExcluir{
    margin-top: 80px;
    margin-left: 20px;
}

