.formulario{
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #e6e6e6;
}

.listagemInclusao{
    margin-top: 10px;
    margin-left: 10px;
}

.confirmarExcluir{
    margin-top: 250px;
    margin-left: 5px;
}
