.formulario{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.listagemInclusao{
    margin-top: 10px;
    margin-left: 10px;
}

.confirmarExcluir{
    margin-top: 250px;
    margin-left: 18px;
}

.form{
    background-color: #e6e6e6
}
